<h1>Listing all articles</h1>

<!-- creates a "Create new article" link-->
<p>
	<%= link_to "Create new article", new_article_path %>
</p>


<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>

	<% @articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.description %></td>
		<td><%= link_to 'Edit', edit_article_path(article) %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		<!-- because article_path is the same for show and destroy, destroy must add method: :delete to call destroy. Also, add a confirmation for deleting -->
		<td><%= link_to 'Destroy', article_path(article), method: :delete, data:{confirm: "Are you sure?"} %></td>
	</tr>
	<% end %>
</table>
