<!DOCTYPE html>
<html>
<head>
  <title>BetaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!--renders the partial that will show the navigation-->
	<%= render 'layouts/navigation' %>

	<!--need to link to layouts-->
	<%= render 'layouts/messages' %>
	<!--where all the other views are served, everything above this will show up on every view of the application, therefore you can build navigation here-->
	

	<div class="container">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>

</body>


</html>
